// VARIABLES
@orangeIMAC: ;
@blueIMAC: ;
@greenIMAC: ;
@red: #c74242;;
@brown: #231e1e;

@gradientGW:linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
@gradientStrongBliss:linear-gradient(to right, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
@gradientSpiky:linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);

@font: 'Allerta Stencil', sans-serif;
@chronoFont1: 'Inconsolata', monospace;
@chronoFont2: 'Orbitron', sans-serif;
@chronoFont3: 'Aldrich', sans-serif;
@chronoFont4: 'Allerta', sans-serif;
@chronoFont5: 'Share Tech Mono', monospace;
@chronoFont6: 'Sarpanch', sans-serif;


p, h1, h2, h3, ul, li, button{
	margin:0;
	padding: 0;
	list-style-type: none;
}

body {
	margin: 0 auto;
	background-image: @gradientSpiky;
	#levelForm {
		display: inline;
		
		background-color: white;
		position: absolute;
		margin: auto;
		right: 350px;		
		left: 350px;
		top: 100px;
		z-index: 10;
		border-radius: 5px;
		text-align: center;
		padding:2%;
		h1 {
			font-size: 35px;
			font-family: @font;
			letter-spacing: 7px;
			text-align: center;
			margin-bottom: 5px;
			span {
				text-transform: uppercase;
				font-size: 50px;
			}
			.imac {
				font-size: 40px;
			}
		}
		form {
			ul {
				width: 250px;
				margin:0 auto;
				li {
					padding: 65px 0;
					label {
						font-family:@font;
						float: left;
						padding-bottom: 10px;
					}
					#inputName {
						float: left;
						width: 250px;
						font-family: @font;
						font-size: 15px;
						padding: 1%;
					}
					.level {
						float: left;
						width: 250px;
						font-family: @font;
						font-size: 15px;
						padding: 1%;
					}
				}
			}
			#jouer {
				margin:60px 0 40px 0;
				font-family: @font;
				text-transform: uppercase;
				background-image: @gradientStrongBliss;
				color: white;
				padding: 5px 10px;
				border: none;
				border-radius: 5px;
				font-size: 20px;
			}
		}
	}
	#popBravo {
		display: inline;
		background-color: white;
		position: absolute;
		margin: auto;
		right: 350px;		
		left: 350px;
		top: 100px;
		z-index: 10;
		border-radius: 5px;
		text-align: center;
		padding:3% 0;
		h1 {
			font-size: 30px;
			font-family: @font;
			letter-spacing: 7px;
			text-align: center;
			margin-bottom: 5px;
			padding-bottom:3%;
		}
		h2 {
			font-family: @font;
			padding-bottom:5%;
			span {
				font-family: @chronoFont5;
				font-size: 30px;
			}
		}
		#rejouer {
			font-family: @font;
			text-transform: uppercase;
			background-image: @gradientStrongBliss;
			padding: 5px 10px;
			border: none;
			border-radius: 5px;
			font-size: 20px;
			a {
				color: white;
				text-decoration: none;
			}
		}
	}
	#popFail {
		display: inline;
		background-color: white;
		position: absolute;
		margin: auto;
		right: 350px;		
		left: 350px;
		top: 100px;
		z-index: 10;
		border-radius: 5px;
		text-align: center;
		padding:3% 0;
		h1 {
			font-size: 30px;
			font-family: @font;
			letter-spacing: 7px;
			text-align: center;
			margin-bottom: 5px;
			padding-bottom:3%;
		}
		h2 {
			font-family: @font;
			padding-bottom:5%;
			span {
				font-family: @chronoFont5;
				font-size: 30px;
			}
		}
		button {
			margin: 0 3%;
			font-family: @font;
			text-transform: uppercase;
			background-image: @gradientStrongBliss;
			padding: 5px 10px;
			border: none;
			border-radius: 5px;
			font-size: 20px;
			color: white;
			a {
				color: white;
				text-decoration: none;
			}
		}
	}
	#cover {
		display: inline;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.7);
		z-index: 5;
		width: 100%;
		height: 100%;
	}
	header {
		padding: 0 50px 5px 50px;
		margin: 0 0 30px 0;
		h1 {
			color:white;
			font-size: 30px;
			font-family: @font;
			letter-spacing: 10px;
			text-align: center;
			margin-bottom: 5px;
			span {
				text-transform: uppercase;
				font-size: 45px;
			}
			.imac {
				font-size: 35px;
			}
		}
		h2 {
			text-transform: none;
			font-size: 15px;
			letter-spacing: 3px;
			color: white;
			text-align: center;
		}
	}
	#container {
		margin: 0 50px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		#flex-section1 {
			background-image: @gradientGW;
			border-radius: 5px;
			padding: 5px;
			margin-right: 50px;
			.wrapper {
				width: 595px;
				display: grid;
				grid-gap: 5px;
				grid-template-columns: repeat(3, 195px);
				grid-template-rows: 195px 195px 195px;
				grid-auto-flow: column;
				.box {
					border-radius: 2px;
					padding: 5px;
					display: grid;
					grid-gap: 5px;
					grid-template-columns: repeat(3, 58px);
					grid-template-rows: 58px 58px 58px;
					grid-auto-flow: column;
					.little-box {
						background-color: rgba(0,0,0,0.04);
						border-radius: 2px;
						img {
							width: 43px;
							vertical-align: top;
						}
					}
				}
			}
		}
		#flex-section2 {
			#regles {
				background-image: @gradientGW;
				border-radius: 5px;
				padding: 3% 3% 4% 3%;
				h3 {
					font-family: @font;
					color:@brown;
					font-weight: bold;
					font-size: 22px;
					padding-bottom: 1%;
				}
				p {
					font-family: @font;
					color:@brown;
					font-size: 14px;
				}
			}
			#wrapper {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-top: 5%;
				#actions {
					background-image: @gradientGW;
					border-radius: 5px;
					width: 46%;
					padding:2%;
					#chronotime {
						background-color: rgba(0,0,0,0);
						border: none;
						font-size: 50px;
						letter-spacing: 5px;
						font-family: @chronoFont5;
						padding-bottom: 10%;
					}
					button {
						margin: 0 5%;
						font-family: @font;
						color:white;
						text-transform: uppercase;
						font-size: 20px;
						background-image:@gradientStrongBliss;
						padding: 5px 10px;
						border: none;
						border-radius: 5px;
						&:hover {
							opacity: 0.7;
						}
						&:last-child {
							background-image:none;
							background-color: rgba(0,0,0,0);
							color: black;
							text-transform: none;
							a {
								color: black;
								text-decoration: none;
							}
						}
					}
				}
				#tetes {
					background-image: @gradientGW;
					border-radius: 5px;
					width: 39%;
					padding:2%;
					h2 {
						font-family: @font;
						color:@brown;
						font-size: 20px;
						padding: 0 0 4% 0;
					}
					#img {
						img {
							width: 45px;
							padding: 0px 3% 3% 0px;
							&:first-child {
								padding-left: 0;
							}
						}
					}
				}
			}
			#yt {
				margin-top: 5%;
				background-image: @gradientGW;
				border-radius: 5px;
				padding: 3% 3% 4% 3%;
				height: 130px;

			}
		}
	}
	footer {
		padding: 6% 0 3% 0;
		p {
			font-family: @font;
			color: white;
			text-align: center;
			letter-spacing: 2px;
			font-size: 10px;
		}
	}
}